   
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

  body {
      font-family: 'Poppins', sans-serif;
  }
 
  main {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  /* ------------------
       Top banner Area
    -------------------
   */
   .top-banner{
       background-color: #2D25A0;
       width: 1440px;
       height: 677px;
   }
   .banner-element{
      display: flex;
      justify-content: space-around;
      margin-top: 153px;
   }
   .banner-info{
       margin-top: calc(207px - 153px);
       margin-left: 156px;
   }
  
   .banner-info h1{
        color: white;
        font-size: 64px;
        line-height: 80px;
        font-weight: 700px;
        margin: 0px;
   }
   .banner-image{
       height: 438px;
       width: 556.01px;
   }
 
   .banner-image img {
       width: 100%;

   }
   .btn{
       background-color: #E02C6D;
       color: white;
       padding: 10px 24px;
       border: 1px solid transparent;
       margin-top: 27px;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 168px;
       height: 44px;
            
   }
   .btn p{
       font-style: 16px;
       line-height: 24px;
       font-weight: 500px;
       margin-right: 10px;
   }

   .top-banner:hover .banner-image img{
       transform: scale(1.4);
       transition: transform 1s ease-in-out;
   }
   
  
 
  


 
  /* ----------------------
      grid container style
     ----------------------
   */
  .grid-container {
 
      width: 1050px;
      margin-top: 70px;
 
  }
 
  .grid-layout {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-row-gap: 27px;
      grid-column-gap:30px;
      

     
  }
 
  .player-bio {
      box-shadow: 5px 5px 30px lightgray;
      width: 330px;
      height: 474px;
  }
 
  .player-info {
      padding: 15px;
  }
 
  .img-info {
      width: 300px;
      height: 256px;
 
  }
 
  .img-info img {
      width: 100%;
  }
 
  .info {
      height: 154px;
      padding-bottom: 18px;
  }
 
  .info p {
      font-size: 16px;
      color: #6C6C6C;
      font-weight: 400px;
      line-height: 26px;
      margin-top: 10px;
      height: 104px;
  }
 
  .info h2 {
      font-size: 16px;
      line-height: 26px;
 
  }
  /* *********************
       highlight area
     *********************
   */

  .highlight-container{
      width: 1050px;
      height: 330px;
      margin-top: 165px;
  }
  .half-width{
      width: 45%;
  }
  .half-width img{
      width: 100%;
  }

  .half-width h1{
      font-size: 48px;
      line-height: 60px;
      font-weight: 700px;
      margin: 0px;
  }
  .highlight-info {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400px;
    line-height: 26px;
    margin-top: 10px;
    height: 104px;   
  }
  .highlight{
      display: flex;
      justify-content: space-between;
      
  }
  #cf{
      position: relative;
  }
  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #cf img.top:hover {
    opacity:0;
  }

  /* 
  -----------------------
     bottom area
  ---------------------
   */
  .bottom-area{
      width: 483.87px;
      height: 213px;
      margin-top: 158px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  .football{
      width: 483.87;
      height: 110px;
      margin-bottom: 20px;
  }
  .football img{
      width: 100%;
  }
  .social-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  }
  .social-icon div{
      margin-right: 14px;
  }
  .social-icon div img{
      width: 32px;
      height: 32px;
  }
 
  .footer p{
      font-size: 18px;
      line-height: 24px;
      font-weight: 400px;
      margin: 0px;
      
  }

  
  

  
  
  /* =====================
        Responsiveness
     =====================
  */
  
@media only screen and (max-width: 768px) {
    
    /* --------------------
        top banner style
    -------------------------
     */

     .top-banner{
        background-color: #2D25A0;
        width: 360px;
        height: 695px;
    }
    .banner-element{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
       
    
    .banner-info{
      margin-left: 16px;
      margin-top: 112px;
        
    }
   
    .banner-info h1{
         color: white;
         font-size: 36px;
         line-height: 50px;
         font-weight: 700px;
         margin: 0px;
    }
    .banner-image{
    
        height: 329px;
        width: 259.17px;
        margin: 50px 16px 61.83px 15px;
        
    }
  
    .banner-image img {
        width: 329px;
        height: 259.17px;
 
    }
    .btn{
        background-color: #E02C6D;
        color: white;
        padding: 10px 24px;
        border: 1px solid transparent;
        margin-top: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 44px;
             
    }
    .btn p{
        font-style: 16px;
        line-height: 24px;
        font-weight: 500px;
        margin-right: 10px;
    }
    
    .top-banner:hover .banner-image img{
        transform: scale(1.2);
        transition: transform 1s ease-in-out;
    }
   
   
    /* ----------------------
    grid container style
   ----------------------
   */
  
   .grid-container {

       width: 330px;
       margin-top: 47px;
       

   }

   .grid-layout {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(12, 1fr);
       grid-column-start: 1;
       grid-column-end: span 12;
       grid-row-gap: 24px
   }

   .player-bio {
       box-shadow: 5px 5px 30px lightgray;
       width: 330px;
       height: 474px;
   }

   .player-info {
       padding: 15px;
   }

   .img-info {
       width: 300px;
       height: 256px;


   }

   .img-info img {
       width: 100%;
   }

   .info {
       height: 154px;
       padding-bottom: 18px;
   }

   .info p {
       font-size: 16px;
       color: #6C6C6C;
       font-weight: 400px;
       line-height: 26px;
       margin-top: 10px;
       height: 104px;
   }

   .info h2 {
       font-size: 16px;
       line-height: 26px;

   }
     /* *********************
       highlight area
     *********************
   */

    .highlight-container{
        width: 330px;
        height: 576px;
        margin-top: 60px;
    }
    .half-width{
        width: 329px;
        height: 299px;
        margin-bottom: 0px;

        
    }
    .half-width img{
        width: 100%;
        height: 248px;
        margin-bottom: 0px;
    
    }

    .half-width h1{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700px;
        margin: 0px;
    }
    .highlight-info {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400px;
    line-height: 26px;
    margin-top: 10px;
    height: 104px;   
    }

    .highlight{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-column: 1 / span 2;
        
    }
    #cf{
        position: relative;
    }
    #cf img {
    position:absolute;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    }
    #cf img.top:hover {
    opacity:0;
    }
    
        /* 
    -----------------------
        bottom area
    ---------------------
    */
    .bottom-area{
        width: 360px;
        height: 175px;
        margin-right: 18px;
        margin-top: 43px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .football{
        width: 271px;
        height: 63px;
        margin-bottom: 29px;
    }
    .football img{
        width: 100%;
    }
    .social-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .social-icon div{
        margin-right: 14px;
    }
    .social-icon div img{
        width: 32px;
        height: 32px;
    }

    .footer p{
        font-size: 18px;
        line-height: 24px;
        font-weight: 400px;
        margin: 0px;
        
    }

   
 }